<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Ordered Ticket - Confirmation</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<div>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">WEB PROGRAMMING MOVIE-APP </h1>
    </div>
  </section>

  <form th:action="@{/ticketOrder}" th:method="POST">
    <table class="table">
      <tr>
        <th colspan="2">
          Your Order Status
        </th>
      </tr>
      <tr>
        <td><b>Client Name </b></td>
        <td><input type="text" name="userName" th:value="${userName}" required></td>
      </tr>
      <tr>
        <td><b>Client IP Address</b></td>
        <td><input type="text" name="clientIp" th:value="${clientIp}" required></td>
      </tr>
      <tr>
        <td><b>Ticket for Movie</b></td>
        <td><input type="text" name="movieTitle" th:value="${movieTitle}" required></td>
      </tr>
      <tr>
        <td><b>Number of tickets</b></td>
        <td><input type="number" name="numTickets" th:value="${numTickets}" min="1" max="10" required></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <input type="submit" value="Submit Order" class="btn btn-primary">
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>